@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap');
:root {
    --color: #ff4159;
}

html {
    font-size: 62.50%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #000;
    line-height: 2.8rem;
    background-color: #fff;
}

.ml-auto {
    margin-left: auto;
}

.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00000078;
    }
}

.about {
    p {
        max-width: 60.0rem;
    }
}

.hero {
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size: 3.5rem;
        text-align: center;
        line-height: 5.8rem;
        font-weight: 400;
    }
}

.txt-wrap {
    position: relative;
}

header {
    padding: 2rem 0;
    position: absolute;
    width: 100%;
    z-index: 99;
    .navbar-brand {
        color: #fff;
        font-size: 2.4rem;
        font-family: 'Barlow', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        img {
            max-width: 25.0rem;
        }
    }
    .navbar-nav {
        .nav-link {
            color: #fff !important;
            padding-left: 2rem !important;
            padding-right: 2rem !important;
            font-weight: 500;
            font-family: 'Barlow', sans-serif;
            font-size: 1.7rem;
        }
    }
    .menu {
        width: 3rem;
    }
}

.sec-spacing {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.sec-heading {
    font-size: 4rem;
    font-weight: 700;
}

.features {
    background-color: #ededed;
    .card {
        text-align: center;
        padding: 3rem;
        border: 0;
        max-width: 39.0rem;
        margin: auto;
        .icon {
            width: 9.0rem;
            height: 9.0rem;
            display: flex;
            background-color: #012639;
            justify-content: center;
            align-items: center;
            margin: auto;
            border-radius: 50%;
            /* padding: 28px; */
            flex-shrink: 1;
            margin-bottom: 2.0rem;
        }
        img {
            max-height: 5rem;
            filter: invert(1);
        }
        h3 {
            font-size: 2.5rem;
            font-weight: 600;
        }
        p {
            margin-bottom: 3rem;
        }
    }
}

.line {
    width: 10%;
    height: .3rem;
    background-color: #000;
    margin: auto;
    margin-bottom: 4rem;
}

.btn-primary {
    background-color: var(--color);
    border-color: var(--color);
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: .6rem 1.5rem;
    &.rounded {
        border-radius: 4rem !important;
    }
    &.apply-btn {
        font-size: 1.6rem;
    }
}

.testimonials {
    color: #fff;
    .profile-img {
        width: 9.0rem;
        height: 9.0rem;
        overflow: hidden;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
        margin: auto;
        margin-bottom: 3rem;
    }
    p {
        font-size: 2.1rem;
        line-height: 3.5rem;
        font-weight: 200;
        max-width: 90.0rem;
        margin: auto;
        margin-bottom: 3rem;
    }
    .name {
        font-size: 2.2rem;
        line-height: 3.5rem;
    }
}

.quick-contact {
    background-color: #0b286e;
    .card {
        background-color: transparent;
        color: #fff;
        text-align: center;
        border: 0;
        a {
            color: #fff;
            text-decoration: none;
        }
        .title {
            font-size: 2.0rem;
            margin-bottom: 1.0rem;
        }
    }
}

footer {
    background-color: #000;
    padding-top: 2rem;
    padding-bottom: 2rem;
    p {
        color: #fff;
    }
}

.documents {
    ul {
        li {
            padding-bottom: 1.3rem;
            list-style-type: none;
            font-size: 1.8rem;
        }
    }
    h3 {
        a {
            color: #012639;
            text-decoration: none;
        }
    }
    p {
        font-size: 1.8rem;
    }
}

.counts {
    background-color: #012639;
    text-align: center;
    .card {
        background-color: transparent;
        color: #fff;
        border: 0;
        .number {
            font-size: 5.0rem;
            font-weight: 600;
            margin-bottom: 2.0rem;
        }
        .title {
            font-size: 1.9rem;
        }
    }
}

.partners {
    text-align: center;
    img {
        max-height: 4.5rem;
    }
}

.form-group {
    margin-bottom: 2rem;
}

.form-control {
    padding: 1.0rem;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

@media (max-width: 991px) {
    html {
        font-size: 50%;
    }
    .container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    header {
        .apply-btn {
            display: none;
        }
        .navbar-nav {
            background-color: #012639;
            .nav-link {
                padding: 1rem;
            }
        }
    }
    .hero {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    .features {
        .card {
            margin-bottom: 3rem;
        }
    }
    .counts {
        .card {
            border-bottom: 1px solid #ffffff4a;
            padding-bottom: 4rem;
            margin-bottom: 8rem;
            &.last {
                border-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
    .quick-contact {
        .card {
            margin-bottom: 7rem;
            border-bottom: 1px solid #a7a7a7;
            border-radius: 0;
            padding-bottom: 5rem;
            &.last {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: 0;
            }
        }
    }
}